<div class="container-fluid p-h-0 p-v-20 h-100 bg">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-none d-md-block"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8 m-h-auto">
                    <div class="d-flex align-items-center justify-content-between flex-column m-b-30">
                        <img class="img-fluid" alt="" src="assets/images/logo/shamwaa_black_title_small.png" width="200"
                            height="200" style="margin-bottom: 30px;">
                        <h2 class="m-b-0">Sign Up</h2>
                    </div>
                    <nz-steps [nzCurrent]="currentStep" nzSize="small"
                        class="d-flex align-items-center justify-content-between m-b-30">
                        <nz-step nzTitle="Email"></nz-step>
                        <nz-step nzTitle="Verify"></nz-step>
                        <nz-step nzTitle="Details"></nz-step>
                    </nz-steps>
                    <div class="steps-content"></div>
                    <nz-card class="shadow-lg">

                        <div *ngIf="currentStep === 0">
                            <form nz-form [formGroup]="emailForm" class="login-form" nzLayout="vertical"
                                (ngSubmit)="submitForm()">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzFor="email">Email Address</nz-form-label>
                                    <nz-form-control nzErrorTip="Invalid Email Address!">

                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" nz-input formControlName="email" placeholder="Email"
                                                id="email" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control>
                                        <button nz-button class="login-form-button" [disabled]="emailForm.invalid"
                                            [nzLoading]="isVerifingEmail" [nzType]="'default'"
                                            style="background-color: #E94A1C; color: white;" nzBlock>Continue
                                        </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>

                        <div *ngIf="currentStep === 1">
                            <form nz-form [formGroup]="verificationCodeForm" class="login-form" nzLayout="vertical"
                                (ngSubmit)="submitForm()">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzFor="verificationCode">Verification Code
                                        ({{emailForm.get('email').value}})</nz-form-label>
                                    <nz-form-control nzErrorTip="Invalid verification code">

                                        <nz-input-group nzPrefixIcon="solution">
                                            <input type="text" nz-input formControlName="verificationCode"
                                                placeholder="Verification Code" id="verificationCode" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control>
                                        <button nz-button class="login-form-button" [nzType]="'default'"
                                            style="background-color: #E94A1C; color: white;"
                                            [disabled]="verificationCodeForm.invalid" [nzLoading]="isVerifyingCode"
                                            nzBlock>Submit
                                        </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                            <div nz-row>
                                <div nz-col nzSpan="12" nzOffset="10" *ngIf="!isResending">
                                    <a class="small" (click)="resendOTP()">Resend OTP</a>
                                </div>
                                <div nz-col nzSpan="12" nzOffset="11" *ngIf="isResending">
                                    <nz-spin nzSimple *ngIf="isResending"></nz-spin>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="currentStep === 2">
                            <form nz-form [formGroup]="signUpForm" class="login-form" nzLayout="vertical"
                                (ngSubmit)="submitForm()">

                                <div class="row">
                                    <div class="col-md-4">
                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="name">Username</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your username!">
                                                <input type="text" nz-input formControlName="name"
                                                    placeholder="Username" id="name">
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="countryCode">Country</nz-form-label>
                                            <nz-form-control>

                                                <nz-select nzPlaceHolder="Select Country" nzAllowClear
                                                    formControlName="countryCode" nzShowSearch nzServerSearch
                                                    (nzOnSearch)="onSearch($event)" style="width: 100%;">
                                                    <ng-container *ngFor="let country of searchResults">
                                                        <nz-option [nzValue]="country.code2"
                                                            [nzLabel]="country.country">
                                                        </nz-option>
                                                    </ng-container>
                                                </nz-select>

                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzFor="phoneNumber" nzRequired>Phone Number
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your phone number!">
                                                <input placeholder="Phone Number" formControlName="phoneNumber"
                                                    id="'phoneNumber'" nz-input />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Password!">
                                                <nz-input-group [nzSuffix]="suffixTemplate">
                                                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                                        formControlName="password" placeholder="Password" id="password">
                                                </nz-input-group>
                                            </nz-form-control>
                                            <ng-template #suffixTemplate>
                                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                                    (click)="passwordVisible = !passwordVisible"></i>
                                            </ng-template>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzFor="confirmPassword" nzRequired>Confirm Password
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Password does not match">
                                                <nz-input-group [nzSuffix]="confirmsuffixTemplate">
                                                    <input nz-input
                                                        [type]="confirmPasswordVisible ? 'text' : 'password'"
                                                        formControlName="confirmPassword" placeholder="Confirm Password"
                                                        id="confirmPassword">
                                                </nz-input-group>
                                            </nz-form-control>
                                            <ng-template #confirmsuffixTemplate>
                                                <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                                    (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                                            </ng-template>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-control>
                                                <label nz-checkbox formControlName="agree">
                                                    <span>Check this if you agree with the <a class=" text-link"
                                                            href="https://www.shamwaa.com/terms.html"
                                                            (click)="createNewUser(newProjectContent)">Terms &
                                                            Condtions</a>
                                                    </span>
                                                </label>
                                            </nz-form-control>
                                        </nz-form-item>


                                    </div>

                                    <div class="col-md-4">
                                        <nz-form-item>
                                            <!-- <nz-form-label nzRequired nzFor="businessLicense">Business License
                                            </nz-form-label> -->
                                            <div class="clearfix"
                                                style="text-align: center; align-items: center; align-self: center;">
                                                <nz-upload class="avatar-uploader" nzName="avatar"
                                                    nzListType="picture-card" [nzShowUploadList]="false"
                                                    [nzCustomRequest]='handleRequest'>
                                                    <ng-container style="width: 100%;" *ngIf="!avatarUrl">
                                                        <i class="upload-icon" nz-icon
                                                            [nzType]="isUploading ? 'loading' : 'plus'"></i>
                                                        <div class="ant-upload-text">Upload Business License</div>
                                                    </ng-container>
                                                    <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
                                                </nz-upload>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="companyName">Company Name</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Company Name!">
                                                <input type="text" nz-input formControlName="companyName"
                                                    placeholder="Company Name" id="companyName">
                                            </nz-form-control>
                                        </nz-form-item>


                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="bankName">Bank Name</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Bank Name!">
                                                <input type="text" nz-input formControlName="bankName"
                                                    placeholder="Bank Name" id="bankName">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="bankAccountNumber">Bank Account Number
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Bank Account Number!">
                                                <input type="text" nz-input formControlName="bankAccountNumber"
                                                    placeholder="Bank Account Number" id="bankAccountNumber">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="swiftCode">Swift Code</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Swift Code!">
                                                <input type="text" nz-input formControlName="swiftCode"
                                                    placeholder="Swift Code" id="swiftCode">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzFor="businessType" nzRequired>Business Type</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input this field!">
                                                <nz-select style="min-width: 220px;" formControlName="businessType"
                                                    class="w-100" nzPlaceHolder="Business Type">
                                                    <nz-option nzLabel="Manufacturer" nzValue="Manufacturer"></nz-option>
                                                    <nz-option nzLabel="Wholesaler" nzValue="Wholesaler"></nz-option>
                                                    <nz-option nzLabel="Trading Company" nzValue="Trading Company"></nz-option>
                                                    <nz-option nzLabel="Agent" nzValue="Agent"></nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <div class="col-md-4">
                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="postCode">Post Code
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Post Code!">
                                                <input type="text" nz-input formControlName="postCode"
                                                    placeholder="Post Code" id="postCode">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="province">Province</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your province!">
                                                <input type="text" nz-input formControlName="province"
                                                    placeholder="Province" id="province">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="city">City
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your City!">
                                                <input type="text" nz-input formControlName="city" placeholder="City"
                                                    id="city">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="district">District</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your District!">
                                                <input type="text" nz-input formControlName="district"
                                                    placeholder="District" id="district">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="street">Street
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Street!">
                                                <input type="text" nz-input formControlName="street"
                                                    placeholder="Street" id="street">
                                            </nz-form-control>
                                        </nz-form-item>


                                        <nz-form-item>
                                            <nz-form-label nzFor="acceptedPaymentType" nzRequired>Accepted Payment Type</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input this field!">
                                                <nz-select style="min-width: 220px;" formControlName="acceptedPaymentType"
                                                    class="w-100" nzPlaceHolder="Accepted Payment Type">
                                                    <nz-option nzLabel="T/T" nzValue="T/T"></nz-option>
                                                    <nz-option nzLabel="Paypal" nzValue="Paypal"></nz-option>
                                                    <nz-option nzLabel="Banking Transfer" nzValue="Bank Transfer"></nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label nzRequired nzFor="companyRegistrationNo">Company Registration
                                                No</nz-form-label>
                                            <nz-form-control nzErrorTip="Please input your Company Registration No!">
                                                <input type="text" nz-input formControlName="companyRegistrationNo"
                                                    placeholder="Company Registration No" id="companyRegistrationNo">
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>

                                <!-- <nz-form-item>
                                        <nz-form-control>
                                            <label nz-checkbox formControlName="agree">
                                                <span>I have read the <a>agreement</a></span>
                                            </label>
                                        </nz-form-control>
                                    </nz-form-item> -->
                                <nz-form-item>
                                    <nz-form-control>
                                        <div>
                                            <button nz-button class="login-form-button" [nzType]="'default'"
                                                style="background-color: #E94A1C; color: white;"
                                                [nzLoading]="isRegistering" nzBlock>Submit
                                            </button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>

                    </nz-card>
                </div>
            </div>
        </div>
        <ng-template #newProjectContent>
            <iframe src="https://www.shamwaa.com/terms.html" title="" style="width: 100%; height: 500px;"></iframe>
        </ng-template>
        <div class="d-none d-md-flex p-h-40 justify-content-between">
            <span class="">© 2020 Shamwaa</span>
            <!-- <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Legal</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Privacy</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>