<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" [(ngModel)]="searchInput" nz-input placeholder="Search Product"
                            (ngModelChange)="search()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 300px;" class="w-100" nzPlaceHolder="Category" [(ngModel)]="categoryId"
                        (ngModelChange)="categoryChange($event)">
                        <nz-option *ngFor="let category of categoryList" [nzLabel]="category.translations.en.name"
                            [nzValue]="category._id"></nz-option>

                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status" [(ngModel)]="status"
                        (ngModelChange)="statusChange($event)">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Approved" nzValue="true"></nz-option>
                        <nz-option nzLabel="Not Approved" nzValue="false"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-right">
            <a nz-button [nzType]="'default'" style="background-color: #E94A1C; color: white;"
                [routerLink]="['/products/create']">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>Add Product</span>
            </a>
        </div>
    </div>
    <nz-table #productsListTable [nzData]="displayData" nzShowSizeChanger [nzData]="productsList" [nzTotal]="total"
        [nzFrontPagination]="false" [nzLoading]="loading" [nzPageSize]="perPage" [nzPageIndex]="page"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th *ngFor="let column of orderColumn" [nzColumnKey]="column.key" [nzSortFn]="column.compare">
                    {{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsListTable.data;  let i=index">
                <td>{{item.createdAt | date:'fullDate'}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <nz-avatar nzShape="square" [nzSize]="60" nzIcon="picture" [nzSrc]="item.thumbnail"></nz-avatar>
                        <span class="m-l-10">{{item.translations.en.name}}</span>
                    </div>
                </td>
                <td>{{getCategoryName(item.categoryId)}}</td>
                <td *ngIf="item.type === 'simple'">{{item.price | currency: 'CNY':'symbol-narrow'}}</td>
                <td *ngIf="item.type === 'variable'">{{getPriceRange(item.variations) }}</td>

                <td>
                    <nz-tag *ngIf="!item.isApproved" [nzColor]="'magenta'">Not Approved</nz-tag>
                    <nz-tag *ngIf="item.isApproved" [nzColor]="'green'">Approved</nz-tag>
                </td>
                <td class="text-md-right">
                    <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit"
                        [routerLink]="['/products/view/', item._id]">
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete"
                        (click)="deleteProduct(item)">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>