<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Order" [(ngModel)]="searchInput"
                            (ngModelChange)="search()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" [(ngModel)]="statusInput"
                        (ngModelChange)="filterStatus($event)" nzPlaceHolder="Status">
                        <nz-option *ngFor="let status of orderStatusList;" [nzLabel]="status.name"
                            [nzValue]="status.code"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

    </div>
    <nz-table #ordersListTable [nzData]="displayData" nzShowSizeChanger [nzData]="ordersList" [nzTotal]="total"
        [nzFrontPagination]="false" [nzLoading]="loading" [nzPageSize]="perPage" [nzPageIndex]="page"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th *ngFor="let column of orderColumn" [nzColumnKey]="column.key" [nzSortFn]="column.compare">
                    {{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ordersListTable.data;  let i=index">
                <td>#{{item.referenceId}}</td>
                <td>{{item.createdAt | date:'fullDate' }}</td>
                <td>
                    <h6 class="m-b-0">{{item.user.name}}</h6>
                </td>
                <td>{{item.total | currency: item.totalCurrency}}</td>
                <td><i *ngIf="item.isSampleRequest" nz-icon nzType="check" nzTheme="outline"></i></td>
                <td>
                    <nz-badge *ngIf="item.status == 'approved'" nzStatus="success"></nz-badge>
                    <nz-badge *ngIf="item.status == 'rejected'" nzStatus="error"></nz-badge>
                    <nz-badge *ngIf="item.status == 'pending'" nzStatus="processing"></nz-badge>
                    <span class="text-capitalize">{{item.status}}</span>
                </td>
                <td class="text-md-right">
                    <a class="m-r-5" nz-button nzType="default" nzShape="circle"
                        [routerLink]="['/orders/view/', item.id]" nz-tooltip nzTooltipTitle="View">
                        <i nz-icon nzType="eye" theme="outline"></i>
                    </a>
                    <!-- <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Cancel">
                        <i nz-icon nzType="close" theme="outline"></i>
                    </button> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>