<div class="container-fluid">
  <div class="row" *ngIf="!loading">
    <div class="col-md-9">
      <nz-card>
        <div class="d-flex justify-content-between">
          <div class="media align-items-center">
            <nz-avatar nzShape="circle" nzSrc="assets/images/logo/online-china-small.png"></nz-avatar>
            <div class="m-l-10">
              <h4 class="m-b-0">Order #{{order.referenceId}}</h4>
            </div>
          </div>
        </div>
      </nz-card>

      <div class="row">
        <div class="col-md-6">
          <nz-card>
            <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true">
              <h5>Customer Info</h5>
              <table class="product-info-table m-t-20">
                <tbody>
                  <tr>
                    <td>Full Name :</td>
                    <td class="text-dark font-weight-semibold">{{order.user.name}}</td>
                  </tr>
                  <tr>
                    <td>Mobile Number :</td>
                    <td>{{order.user.phoneNumber}}</td>
                  </tr>
                  <tr *ngIf='order.user.email'>
                    <td>Email :</td>
                    <td>{{order.user.email}}</td>
                  </tr>
                </tbody>
              </table>
            </nz-skeleton>
          </nz-card>
        </div>

        <div class="col-md-6">
          <nz-card>
            <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true">
              <h5>Supplier Info</h5>
              <table class="product-info-table m-t-20">
                <tbody>
                  <tr>
                    <td>Full Name :</td>
                    <td class="text-dark font-weight-semibold">{{order.supplier.name}}</td>
                  </tr>
                  <tr *ngIf='order.supplier.phoneNumber'>
                    <td>Mobile Number :</td>
                    <td>{{order.supplier.phoneNumber}}</td>
                  </tr>
                  <tr>
                    <td>Email :</td>
                    <td>{{order.supplier.email}}</td>
                  </tr>
                </tbody>
              </table>
            </nz-skeleton>
          </nz-card>
        </div>
      </div>

      <nz-card>
        <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true">
          <nz-table #orderTable [nzData]="order.items" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>No.</th>
                <th>Items</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderTable.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.translations.en.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.price | number: "3.2-5" }}</td>
                <td>${{ item.quantity * item.price | number: "3.2-5" }}</td>
              </tr>
            </tbody>
          </nz-table>
          <div class="row m-t-30 lh-1-8">
            <div class="col-sm-12">
              <div class="float-right text-right">
                <!-- <p>Sub - Total amount: $2,325</p>
              <p>vat (10%) : $232</p> -->
                <!-- <hr /> -->
                <h3>
                  <span class="font-weight-semibold text-dark">Total :</span>
                  {{order.total | currency: order.totalCurrency}}
                </h3>
              </div>
            </div>
          </div>
        </nz-skeleton>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card nzTitle="Timeline">
        <nz-timeline>
          <nz-timeline-item *ngFor="let item of order.timeline; let i=index" [nzDot]="dotTemplate">
            <div class="m-l-20">
              <div class="media align-items-center">
                <div class="m-l-10">
                  <h6 class="m-b-0">{{ item.title }}</h6>
                  <span class="text-muted font-size-13">
                    <i nz-icon nzType="clock-circle" theme="outline"></i>
                    <span class="m-l-5">{{ item.createdAt | date: 'fullDate'}}</span>
                  </span>
                </div>
              </div>
            </div>
            <ng-template #dotTemplate>
              <nz-avatar [nzSize]="25" class="ant-avatar-cyan" nzIcon="check">
              </nz-avatar>

            </ng-template>
          </nz-timeline-item>
        </nz-timeline>
      </nz-card>
    </div>
  </div>
</div>